<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome to my website! <%= 'HELLO!'.toUpperCase() %></h1>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor pariatur,
      voluptates blanditiis odio perferendis doloremque hic quibusdam quia
      nostrum, beatae cupiditate aut fugit obcaecati tempore est quam.
      Consequuntur, eum suscipit.
    </p>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolor pariatur,
      voluptates blanditiis odio perferendis doloremque hic quibusdam quia
      nostrum, beatae cupiditate aut fugit obcaecati tempore est quam.
      Consequuntur, eum suscipit.
    </p>
  </body>
</html>
